server:
  port: 8401

spring:
  application:
    name: cloudalibaba-sentinel-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848 #配置nacos服务注册中心地址
        #server-addr: 192.168.115.128:1111 #配置nacos集群地址
    sentinel:
      transport:
        dashboard: localhost:8080  #配置sentinel dashboard 地址
        port: 8719  #默认8719，假如被占用会自动从8719开始依次加1，直至找到未被占用的端口
      datasource:
        ds1:
          nacos:
            server-addr: localhost:8848
            dataId: cloudalibaba-sentinel-service
            groupId: DEFAULT_GROUP
            data-type: json
            rule-type: flow


management:
  endpoints:
    web:
      exposure:
        include: '*'
